{{ header }}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="breadcrumbs-wrapper">
	<ul class="breadcrumbs">
		{% for breadcrumb in breadcrumbs %}
		<li>
			<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
		</li>
		{% endfor %}
	</ul>
	</div>
<div id="product-product" class="container-fluid">
	<div id="content" class="product-content-wrapper">{{ content_top }}
		<div class="product-about">
			<div class="product-about-column product-about-left">
				{% if thumb or images %}
				<div class="product-image-inner">
					{% if thumb %}
					{% if not images %}
					{% set full = 'main-image-container-full-height' %}
					{% endif %}
					<div class="main-image-container {{full}} white-background">
						<a class="popup product-image" href="{{ popup }}" title="{{ heading_title }}"><img
								src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
					</div>
					{% endif %}

					{% if images %}
					<div class="additional-images-wrapper white-background">
						<div class="additional-slider-arrow additional-left-arrow"><i class="fa fa-arrow-left"
								aria-hidden="true"></i></div>
						<div class="additional-images">
							{% for image in images %}
							<div class="image-additional">
								<a class="popup" href="{{ image.popup }}" title="{{ heading_title }}">
									<img src="{{ image.thumb }}" title="{{ heading_title }}"
										alt="{{ heading_title }}" /></a>
							</div>
							{% endfor %}
						</div>
						<div class="additional-slider-arrow additional-right-arrow"><i class="fa fa-arrow-right"
								aria-hidden="true"></i></div>
					</div>
					{% endif %}
					<script>
						$('.additional-images').slick({
							infinite: false,
							slidesToShow: 4,
							slidesToScroll: 4,
							prevArrow: $('.additional-left-arrow'),
							nextArrow: $('.additional-right-arrow'),
							responsive: [
								{
									breakpoint: 600,
									settings: {
										slidesToShow: 3,
										slidesToScroll: 3
									}
								},
								{
									breakpoint: 375,
									settings: {
										slidesToShow: 2,
										slidesToScroll: 2
									}
								}
							]
						});

					</script>
					{% endif %}
				</div>
			</div>
			<div class="product-about-column product-about-right white-background">
				<div class="column-right-inner">
					<h1 class="product-title">{{ heading_title }}</h1>
					{% if sku %}
						<h4>{{ text_sku }} {{ sku }}</h4>
					{% endif %}
					{# {% if manufacturer %}
					<li>{{ text_manufacturer }}
						<a href="{{ manufacturers }}">{{ manufacturer }}</a>
					</li>
					{% endif %} #}
					<h4 class="text-stock">{{ text_stock }}
						{{ stock }}</h4>

					{% if price %}
					<ul class="list-unstyled">
						{% if discounts %}
						<li>
							<hr>
						</li>
						{% for discount in discounts %}
						<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
						{% endfor %}
						{% endif %}
					</ul>
					{% endif %}
					<div id="product">
						{% if options %}
						<hr>
						<h3>{{ text_option }}</h3>
						{% for option in options %}
						{% if option.type == 'select' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label"
								for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<select name="option[{{ option.product_option_id }}]"
								id="input-option{{ option.product_option_id }}" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for option_value in option.product_option_value %}
								<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
									{% if option_value.price %}
									({{ option_value.price_prefix }}{{ option_value.price }})
									{% endif %}
								</option>
								{% endfor %}
							</select>
						</div>
						{% endif %}
						{% endfor %}
						{% endif %}
						<div class="form-group">
							<div class="input-info">
								<label class="control-label" for="input-quantity">{{ entry_qty }}</label>
								{% if not special %}
								<div>
									<h2 class="price">{{ price }}</h2>
								</div>
								{% else %}
								<div>
									<span style="text-decoration: line-through;">{{ price }}</span>
									<h2 class="price">{{ special }}</h2>
								</div>
								{% endif %}
							</div>
							<div class="quantity-input-group">
								<button class="quantity-btn btn-plus" onclick="increaseQuantity('{{product_id}}current')"><i class="fa fa-plus"
										aria-hidden="true"></i></button>

								<input type="text" name="quantity" value="{{ minimum }}" data-minimum={{minimum}} data-id="{{product_id}}current" onchange ="inputChange(event,1)" onkeyup="validateNumbers(event)" size="2" id="input-quantity"
									class="form-control only_uint" />
								<button class="quantity-btn btn-minus" onclick="decreaseQuantity('{{product_id}}current')"><i class="fa fa-minus"
										aria-hidden="true"></i></button>
							</div>
							<input type="hidden" name="product_id" value="{{ product_id }}" />
							<br />
						
							<div class="product-buttons">
								<button class="theme-button cart-add green-btn {{stock_class}}" type="button" id="button-cart"
									data-loading-text="{{ text_loading }}"
									class="theme-button green-btn">{{ button_cart }}</button>
								<button class="theme-button wishlist-add yellow-btn add-to-wl {{in_wishlist}}" data={{product_id}} type="button" >
									<i class="fa fa-heart"></i>
								</button>
								<!-- <button type="button" data-toggle="tooltip" class="theme-button green-btn" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');">
									<i class="fa fa-exchange"></i>
								</button> -->

							</div>

						</div>
						{% if minimum > 1 %}
						<div class="alert alert-info">
							<i class="fa fa-info-circle"></i>
							{{ text_minimum }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% if description|length > 11 %}
		<div class="product-description white-background">
			{% if attribute_groups %}
			<ul class="nav nav-tabs">
				{% if description|length > 11 %}
				<li class=" nav-tab-item active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a>
				</li>
				{% endif %}
				{% if attribute_groups %}
				<li class="nav-tab-item"><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
				{% endif %}
			</ul>
			{% endif %}
			<div class="tab-content">
				{% if description|length > 11 %}
				{% set pane1 = "active" %}
				{% else %}
				{% set pane2 = "active" %}
				{% endif %}
				<div class="tab-pane {{pane1}}" id="tab-description">
					{% if not attribute_groups %}
					<h1 class="curvy-h">{{ tab_description }}</h1>
					{% endif %}
					{{ description }}</div>
				{% if attribute_groups %}
				<div class="tab-pane {{pane2}}" id="tab-specification">
					<table class="table table-striped">
						{% for attribute_group in attribute_groups %}
						{# <thead>
							<tr>
								<td colspan="2">
									<h1><strong>{{ attribute_group.name }}</strong></h1>
								</td>
							</tr>
						</thead> #}
						<tbody>
							{% for attribute in attribute_group.attribute %}
							<tr>
								<td>{{ attribute.name }}</td>
								<td>{{ attribute.text }}</td>
							</tr>
							{% endfor %}
						</tbody>
						{% endfor %}
					</table>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if products %}
		<div class="related-products-wrapper white-background">
		<h1 class="text-related">{{ text_related }}</h1>
		<div class="related-products">
			{% set i = 0 %}
			{% for product in products %}
			<div class="slick-prod-wrap">
			<div class="product-layout product-grid">
				<div class="product-thumb">
					<div class="image cursor-change">
						<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"
								title="{{ product.name }}" class="img-responsive" /></a>
					</div>
					<div class="product-info">
						<div class="product-info-inner">
						<div class="caption">
							<h4>
								<a href="{{ product.href }}">{{ product.name }}</a>
							</h4>
							{# <p>{{ product.description }}</p> #}
							{% if product.price %}
							<div class="price-wrapper">
								<p class="price">
									{% if not product.special %}
									{{ product.price }}
									{% else %}
									<span class="price-new">{{ product.special }}</span>
									<span class="price-old">{{ product.price }}</span>
									{% endif %}
									{% if product.tax %}
									<span class="price-tax">{{ text_tax }}
										{{ product.tax }}</span>
									{% endif %}
								</p>
							</div>
							{% endif %}
						</div>
						{% if product.quantity <= 0 %}
						<p class="out-of-stock">
							{{ text_nostock }} 😢
						</p>
						{% else %}
						<div class="quantity-input-group">
							<button class="quantity-btn btn-plus" onclick="increaseQuantity('{{product.product_id}}')"><i class="fa fa-plus"
									aria-hidden="true"></i></button>

							<input type="number" min="1" max="999" name="quantity" value="{{ minimum }}" data-minimum={{product.minimum}} data-id={{product.product_id}} onchange ="inputChange(event,1)" onkeyup="validateNumbers(event)" size="2" id="input-quantity"
								class="form-control only_uint" />
							<button class="quantity-btn btn-minus" onclick="decreaseQuantity('{{product.product_id}}')"><i class="fa fa-minus"
									aria-hidden="true"></i></button>
						</div>
						<div class="button-group">
							<button class="theme-button cart-add green-btn" type="button"
								onclick="addFromGrid('{{product.product_id}}')">
								<i class="fa fa-shopping-cart"></i>
								<span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
							</button>
							 <button class="theme-button wishlist-add yellow-btn add-to-wl {{product.in_wishlist}}" data={{product.product_id}} type="button" >
								<i class="fa fa-heart"></i>
							</button> 
							<!-- <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
								<i class="fa fa-exchange"></i>
							</button> -->
						</div>
						{% endif %}

					</div>
				</div>
				</div>
			</div>
		</div>
			{% endfor %}
		</div>
	</div>
		<script>
			$('.related-products').slick({
				infinite: true,
				slidesToShow: 3,
				slidesToScroll: 3,
				arrows: false,
				dots: true,
				autoplay: false,
				autoplaySpeed: 3000,
				responsive: [
					{
						breakpoint: 960,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 2
						}
					},
					{
						breakpoint: 780,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 600,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 375,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 2
						}
					}
				]
			});

		</script>
		{% endif %}
		{% if tags %}
		<p>{{ text_tags }}
			{% for i in 0..tags|length %}
			{% if i < (tags|length - 1) %}
			<a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
			{% else %}
			<a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
			{% endif %}
			{% endfor %}
		</p>
		{% endif %}
		{{ content_bottom }}
	</div>
	{{ column_right }}
</div>
<script type="text/javascript">
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
		$.ajax({
			url: 'index.php?route=product/product/getRecurringDescription',
			type: 'post',
			data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
			dataType: 'json',
			beforeSend: function () {
				$('#recurring-description').html('');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();

				if (json['success']) {
					$('#recurring-description').html(json['success']);
				}
			}
		});
	});
</script>
<script type="text/javascript">
	$('#button-cart').on('click', function () {
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
			dataType: 'json',
			beforeSend: function () {
				$('#button-cart').button('loading');
			},
			complete: function () {
				$('#button-cart').button('reset');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();
				$('.form-group').removeClass('has-error');

				if (json['error']) {
					if (json['error']['option']) {
						for (i in json['error']['option']) {
							var element = $('#input-option' + i.replace('_', '-'));

							if (element.parent().hasClass('input-group')) {
								element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							} else {
								element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							}
						}
					}

					if (json['error']['recurring']) {
						$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
					}

					// Highlight any found errors
					$('.text-danger').parent().addClass('has-error');
				}

				if (json['success']) {
					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

					$('html, body').animate({
						scrollTop: 0
					}, 'slow');

					$('#cart > .cart-menu-wrapper > .cart-menu > .cart-items').load('index.php?route=common/cart/info ul li');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
<script type="text/javascript">

	$('.date').datetimepicker({ language: '{{ datepicker }}', pickTime: false });

	$('.datetime').datetimepicker({ language: '{{ datepicker }}', pickDate: true, pickTime: true });

	$('.time').datetimepicker({ language: '{{ datepicker }}', pickDate: false });

	$('button[id^=\'button-upload\']').on('click', function () {
		var node = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function () {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function () {
						$(node).button('loading');
					},
					complete: function () {
						$(node).button('reset');
					},
					success: function (json) {
						$('.text-danger').remove();

						if (json['error']) {
							$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
						}

						if (json['success']) {
							alert(json['success']);

							$(node).parent().find('input').val(json['code']);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});
</script>
<script type="text/javascript">

	$('#review').delegate('.pagination a', 'click', function (e) {
		e.preventDefault();

		$('#review').fadeOut('slow');

		$('#review').load(this.href);

		$('#review').fadeIn('slow');
	});

	$('#review').load('index.php?route=product/product/review&product_id= {{ product_id }}');

	$('#button-review').on('click', function () {
		$.ajax({
			url: 'index.php?route=product/product/write&product_id= {{ product_id }}',
			type: 'post',
			dataType: 'json',
			data: $("#form-review").serialize(),
			beforeSend: function () {
				$('#button-review').button('loading');
			},
			complete: function () {
				$('#button-review').button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
				}

				if (json['success']) {
					$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					$('input[name=\'rating\']:checked').prop('checked', false);
				}
			}
		});
	});

	$(document).ready(function () {
		$('.product-image-inner').magnificPopup({
			type: 'image',
			delegate: 'a',
			gallery: {
				enabled: true
			}
		});
	});
</script>
{{ footer }}