<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/sharlar/stylesheet/stylesheet2.css" rel="stylesheet">
<link href="catalog/view/theme/sharlar/stylesheet/scss/main.css" rel="stylesheet">
<link href="catalog/view/theme/sharlar/stylesheet/scss/wishlist.css" rel="stylesheet">
<link href="catalog/view/theme/sharlar/stylesheet/scss/product.css" rel="stylesheet">
<!-- {% if route == 'account/wishlist' %}
<link href="catalog/view/theme/sharlar/stylesheet/scss/wishlist.css" rel="stylesheet">
{% endif %}
{% if route == 'product/product' %}
<link href="catalog/view/theme/sharlar/stylesheet/scss/product.css" rel="stylesheet">
{% endif %} -->
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" 
</head>
<body>
<header>
  <div class="header-wrapper">
    <div class="row header-row">
      <div class="header-item col-12 col-sm-12 col-md-3 col-lg-4 logo-container">
        <div id="logo" class="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="header-item col-12 col-sm-12 col-md-5 col-lg-5">{{ search }}</div>
      <div class="header-item col-12 col-sm-12 col-md-4 col-lg-3 cart-account">
     {{ language }}
      {{ cart }}     
      <a href="{{ wishlist }}" class="wishlist-btn" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i></a> 
         <div class="dropdown account-dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> </a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </div> 
        </div>
    </div>
  </div>
</header>
{{ menu }}
{# <div class="cursor-dot"></div> #}
<div class="cursor"></div>
<div id="plain-1" class="plain">
	<div class="wrapper">
		<div class="logo-wrap">
			<img id="start-img" src="catalog/view/theme/sharlar/image/assets/logo2.png" alt="">
		</div>
	</div>
    <svg id="svg-wave-top" version="1.1" transform="translate(0, 0) scale(-1, 1) " data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 800 160.32">
      <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#c6f739;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#57d301;stop-opacity:1" />
        </linearGradient>
      </defs>
			<title>wave</title>
			<path fill="url(#grad1)" transform="scale(1, -1) translate(0, -100)">

				<animate id="animation-to-check" repeatcount="indefinite" fill="url(#grad1)" attributename="d" dur="1s" values="M0,30.67c26.69,20.46,66.07,43.23,110.33,38C157.78,63.05,166.2,30.53,215,18.33,281.53,1.7,299.21,53.83,383.67,54,467,54.17,481.13,3.48,558,14.67c49.48,7.2,57.62,30.23,107.33,36C720.61,57.07,768.55,35.31,800,16.33v144H0Z;
				
																					M0,11.33c26.69,20.47,35.74,83.24,80,78,47.45-5.61,41.2-35.47,90-47.66C236.53,25,226.21,71.83,310.67,72c83.33.17,102.13-47.85,179-36.67,49.48,7.2,149.88,37.45,199.59,43.21C744.54,85,768.55,47.64,800,28.67V160.32H0Z;
				
																					M0,11.33C26.69,31.8,38.74,66.9,83,61.67c47.45-5.62,42.87-39.81,91.67-52C241.2-7,215.88,86.5,300.33,86.67,383.66,86.83,408.13-6.85,485,4.33c49.48,7.2,58.29,73.91,108,79.67,55.28,6.41,175.55-7.36,207-26.33V160.32H0Z;
				
																					M0,38.33c26.69,20.47,15.41,58.24,59.67,53C107.11,85.72,118.2,51.2,167,39c66.53-16.63,48.88,16.5,133.33,16.67,83.33.16,127.14-10.52,204,.66,49.49,7.2,138.29,35.57,188,41.34,55.28,6.4,76.22-60.36,107.67-79.34v142H0Z;
				
																					M0,30.67c26.69,20.46,66.07,43.23,110.33,38C157.78,63.05,166.2,30.53,215,18.33,281.53,1.7,299.21,53.83,383.67,54,467,54.17,481.13,3.48,558,14.67c49.48,7.2,57.62,30.23,107.33,36C720.61,57.07,768.55,35.31,800,16.33v144H0Z"/>

			</path>


		</svg>
</div>
