{{ header }}
<div id="common-home" class="">
	<section id="section-1">
		<div class="section-1-bg rellax" data-rellax-speed="-5"></div>
		<div class="hero-image"></div>
		<div class="rellax parallax-el" data-rellax-speed="5"></div>
		<div class="rellax text air-logo" data-rellax-speed="10"></div>
		<div class="rellax clouds" data-rellax-speed="0"></div>
		<div class="whitespace"></div>
	</section>
	<section id="section-2">
		<div class="wrapper">
			<h1 class="curvy-h">Види кульок</h1>
			<div class="balloon-types">
				<div class="balloon-types-inner">
					<div class="balloon-type cursor-change accent-1">
						<a href="http://localhost/sharlar-shop/index.php?route=product/category&path=62_59">
							<div class="balloon-hover"><img src="catalog/view/theme/sharlar/image/assets/latex.jpg" alt=""></div>
							<h3 class="curvy-h">
								Латексні
							</h3>
						</a>
					</div>
					<div class="balloon-type cursor-change">
						<a href="#">
							<div class="balloon-hover"><img src="catalog/view/theme/sharlar/image/assets/heart.jpg" alt=""></div>
							<h3 class="curvy-h">
								Серце
							</h3>
						</a>
					</div>
					<div class="balloon-type cursor-change">
						<a href="#">
							<div class="balloon-hover"><img src="catalog/view/theme/sharlar/image/assets/foil.jpg" alt=""></div>
							<h3 class="curvy-h">
								З фольги
							</h3>
						</a>
					</div>
					<div class="balloon-type cursor-change">
						<a href="#">
							<div class="balloon-hover"><img src="catalog/view/theme/sharlar/image/assets/confetti.jpg" alt=""></div>
							<h3 class="curvy-h">
								З конфеті
							</h3>
						</a>
					</div>
					<div class="balloon-type cursor-change">
						<a href="http://localhost/sharlar-shop/index.php?route=product/category&path=62_60">
							<div class="balloon-hover"><img src="catalog/view/theme/sharlar/image/assets/sphere.jpg" alt=""></div>
							<h3 class="curvy-h">
								Сфери
							</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="constructor-section">
        <h1 class="curvy-h">Конструктори кульок</h1>
		<div class="wrapper container-fluid">
			<div id="root"></div>
            <div id="root"></div>
            <div id="root"></div>
            <div id="root"></div>
		</div>
	</section>
	<section>
		<div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
	</section>
</div>
{{ footer }}
