
<div>
  <nav class="menu">
    {# <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div> #}
    {# <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div> #}
     <div class="wrapper">
                    <div class="menu-inner">
                        <ul class="menu-list">
                        {% if links %}
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop" class="">{{links[0]}}</a></li>
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop/index.php?route=product/category&path=62" class="">{{links[1]}}</a></li>
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop/index.php?route=information/information&information_id=4" class="">{{links[2]}}</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
  </nav>
  <nav class="menu menu-hide" data-menu-type="">
    {# <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div> #}
    {# <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div> #}
     <div class="wrapper">
                    <div class="menu-inner">
                        <ul class="menu-list">
                        {% if links %}
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop" class="">{{links[0]}}</a></li>
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop/index.php?route=product/category&path=62" class="">{{links[1]}}</a></li>
                            <li class="menu-item bttn btn-2"><a href="http://localhost/sharlar-shop/index.php?route=information/information&information_id=4" class="">{{links[2]}}</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
  </nav>
</div>
